--- 
layout: inventory 
---
<div class="devices">
    <img src="{{ page.image_path }}" alt="{{ page.title }}" />
    <div class="description">
        <div><h2> <span class="parent-device"><a href= "{{ '/devices/' | prepend: site.baseurl }}{{ page.parent_device }}" >{{ page.parent_device_name }}</a> / </span>{{ page.title }}</h2></div>

        {% unless page.tags == nil %} 
            {% for tag in page.tags %}
                <span class="badge badge-default tags">{{ tag }}</span> 
            {% endfor %} 
        {% endunless %} 
        {{ content }}
    </div>
</div>
